# Basics

## Variables

In [15]:
x = 1 #int
y = 1.0 #float
name = 'Chris' #string
is_cool = True #Boolean
fruits_list = ['apple', 'orange', 'pear'] #list
fruits_set = {'apple', 'orange', 'pear'} #set
fruits_tuple = ('apple', 'orange', 'pear') #tuple
fruits_dict = {'Apple' : 2 , 'Orange' : 5, "Pear" : 7} #dictionary
print(type(fruits_tuple))

<class 'tuple'>

In [68]:
#Maths operations
print(3 + 5)
print(3 * 5)
print(15 / 3)
print(15 % 7)
print(3 ** 2)
print(3 ** 0.5)

8
15
5.0
1
9
1.7320508075688772

In [109]:
m = 5
m = m + 5
print(m)
n = 5
n += 5
print(n)

10
10

## Strings

In [1]:
print('Hello World')

Hello World

In [18]:
a = 'Hello World'
b = str(1) 
print(a)
print(type(b))

Hello World
<class 'str'>

In [6]:
#Strings can be sliced
print(a[0])
print(a[0:5])
print(a[:])
print(a[:-1])
print(a[-1:])

H
Hello
Hello World
Hello Worl
d

In [7]:
c = a.split(' ')
print(type(c))
print(c)

<class 'list'>
['Hello', 'World']

In [25]:
# String formatting
name = 'Chris'
age = 24
message = f'Hello {name}, your age is {age}'
print(message)
print('Hello '+name + ', your age is '+str(age))

Hello Chris, your age is 24
Hello Chris, your age is 24

In [30]:
#Other methods
print(a.upper())
print(a.lower())
print(len(a))
print(a.replace('World', str(name)))
sub = 'l'
print(a.count(sub))

HELLO WORLD
hello world
11
Hello Chris
3

## List - Collection which is ordered and mutable

In [15]:
fruits1 = ['Apple', 'Pear', 'Orange']
fruits2 = list(('Apple', 'Pear', 'Orange'))
print(fruits1)
print(fruits2)

['Apple', 'Pear', 'Orange']
['Apple', 'Pear', 'Orange']

In [40]:
print(len(fruits1))

3

In [210]:
print(fruits1[0])
print(type(fruits1[0]))
print(fruits1[0].upper())
print(fruits[-1])

Apple
<class 'str'>
APPLE
Orange

In [44]:
fruits1.append('Strawberry')
print(fruits1)

['Apple', 'Pear', 'Orange', 'Strawberry']

In [45]:
fruits1.remove('Apple')
print(fruits1)

['Pear', 'Orange', 'Strawberry']

In [14]:
#fruits1.insert(0, 'Apple')
#print(fruits1)
fruits1.pop(3)
print(fruits1)

['Apple', 'Apple', 'Pear']

In [177]:
#For loop by accessing each element in the list
for i in fruits1 :
    print(i.upper())

APPLE
ORANGE
PEAR

In [180]:
#For loop by accessing each index in the list
for i in range(len(fruits1)) :
    print(fruits1[i].upper())

APPLE
ORANGE
PEAR

In [58]:
fruits_cap = []
for i in fruits1 :
    fruits_cap.append(i.upper())
print(fruits_cap)

['APPLE', 'ORANGE', 'PEAR']

In [61]:
#List comprehension
fruits_cap2 = [fruit.upper() for fruit in fruits1]
print(fruits_cap2)

['APPLE', 'ORANGE', 'PEAR']

In [62]:
#exercise : want to return the square of elements in numbers list
numbers = [1,2,3,4]
numbers_squared = [num**2 for num in numbers]
print(numbers_squared)

[1, 4, 9, 16]

In [97]:
#Check if an element is inside a list
print('Apple' in fruits1)
print('Durian' in fruits1)

True
False

[]

## Sets - Collection which is unordered and unindexed without duplicates

In [89]:
food = ['Rice', 'Noodles', 'Chicken']
food.append('Chicken')
print(food)

['Rice', 'Noodles', 'Chicken', 'Chicken']

In [19]:
food = ['A', 'B', 'C']
food_set = set(food)
print(food_set)

{'C', 'A', 'B'}

In [90]:
food1 = set(['Rice', 'Noodles', 'Chicken'])
food1.add('Pork')
print(food1)

{'Chicken', 'Noodles', 'Pork', 'Rice'}

In [91]:
food1.add('Chicken')

In [92]:
print(food1)

{'Chicken', 'Noodles', 'Pork', 'Rice'}

In [93]:
print(set(food))

{'Chicken', 'Noodles', 'Rice'}

In [94]:
food2 = {'Chicken', 'Noodles', 'Rice', 'Pork'}
print(food == food2)
print(food1 == food2)

False
True

In [95]:
#Like lists, sets are also iterable
for i in food1 :
    print(i.upper())

CHICKEN
NOODLES
PORK
RICE

In [98]:
'Chicken' in food

True

In [103]:
#Intersection between sets
meat = {'Chicken', 'Pork', 'Duck'}
fruits_set = {'Apple', 'Pear', 'Orange'}
print(meat.intersection(food2))
print(len(meat.intersection(food2)))
print(fruits_set.intersection(food2))
print(len(fruits_set.intersection(food2)))

{'Chicken', 'Pork'}
2
set()
0

## Dictionary - Collection which is unordered, mutable and indexed. No duplicated keys allowed

In [20]:
inventory = {'Rice' : 0.5, 'Chicken' : 1, 'Fish' : 2}
print(type(inventory))

<class 'dict'>

In [21]:
print(inventory.keys())
print(inventory.values())
print(inventory.items())
print(len(inventory.items()))

dict_keys(['Rice', 'Chicken', 'Fish'])
dict_values([0.5, 1, 2])
dict_items([('Rice', 0.5), ('Chicken', 1), ('Fish', 2)])
3

In [113]:
inventory['Rice']

0.5

In [25]:
for u in inventory.keys() :
    inventory[u] += 0.2

In [26]:
inventory.values()

dict_values([0.7, 1.2, 2.2])

In [115]:
inventory.items()

dict_items([('Rice', 0.7), ('Chicken', 1.2), ('Fish', 2.2)])

In [116]:
del(inventory['Fish'])
print(inventory)

{'Rice': 0.7, 'Chicken': 1.2}

In [118]:
inventory['Fish'] = 2.2
print(inventory)

{'Rice': 0.7, 'Chicken': 1.2, 'Fish': 2.2}

In [127]:
#List of dictionary
people = [{'Name' : 'Chris', 'Sex' : 'Male', 'Age' : 24},
         {'Name' : 'Jeremy', 'Sex' : 'Male', 'Age' : 26}]

In [131]:
print(type(people))
print(len(people))
print(type(people[0]))
print(len(people[0]))
print(people[0]["Name"])

<class 'list'>
2
<class 'dict'>
3
Chris

## Boolean & if statements

In [135]:
print(True & True)
print(True & False)
print(True | False)
print(False | False)
print(True & (True | False))

True
False
True
False
True

In [136]:
x = 5
print(x > 7)
print(x == 5)
print (x <= 3)

False
True
False

In [31]:
if False :
    print('First statement gets printed')
elif False:
    print('Second statement gets printed')
else :
    print('Third statement gets printed')

Third statement gets printed

In [32]:
#Fizzbuzz
n=int(input())
if (n % 3 == 0) & (n % 5 != 0) :
    print("Fizz")
elif (n % 3 != 0) & (n % 5 == 0) :
    print("Buzz")
elif (n % 3 == 0) & (n % 5 == 0) :
    print ("FizzBuzz")
else:
    print('Nope')

10
Buzz

In [165]:
#Membership
n = int(input())
numbers = [5,6,7,10]
if n in numbers :
    print (f'{n} is inside')
elif n not in numbers :
    if n > max(numbers) :
        print('Try a smaller number')
    elif n < min(numbers) :
        print('Try a larger number')
    else :
        print('Try again')

2
Try a larger number

In [167]:
#List comprehension with logic
#Only want to square the numbers belonging to numbers_list that are less than 5
numbers_list = [1, 2, 3, 6, 7, 10, 12]
numbers_sq = [num ** 2 for num in numbers_list if num < 5]
print(numbers_sq)

[1, 4, 9]

In [34]:
for i in range(0, 1000, 2) :
    print(i)
    #if i > 20 :
        #break

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998

## While loop

In [197]:
is_small = True
count = 0
while is_small :
    print(count)
    count += 1
    if count > 5 :
        is_small = False

0
1
2
3
4
5

In [198]:
count = 0
while count <= 10: #Keeps running as long as it's True
    print(f'Count : {count}')
    count += 1

Count : 0
Count : 1
Count : 2
Count : 3
Count : 4
Count : 5
Count : 6
Count : 7
Count : 8
Count : 9
Count : 10

## Functions

In [182]:
def add_nums(x, y) :
    total = x + y
    return total

num = add_nums(1, 3)

In [183]:
print(num)

4

In [174]:
#For each number on the list, print a new list whereby each element is multiplied by 3. Lastly, return the summation of the numbers in the new list

def myFunc(numbers) :
    new_numbers = []
    for i in numbers :
        new_numbers.append(i * 3)
    print(new_numbers)
    sum_num = 0
    for num in new_numbers :
        sum_num += num
        return sum_num

In [176]:
number_list = [10, 20, 30, 40]
sum_num = myFunc(number_list)
print(sum_num)

[30, 60, 90, 120]
30

In [195]:
#Find John in the list using while loop
def find_name(name_list, name) :
    i = 0
    while name_list[i] != 'John' :
        i += 1

    print(f'John is number {i+1} on the list')

names = ['Chris', 'Jeremy', 'Matthew', 'Oliver', 'John', 'Mayor', 'Simon']
find_name(names, 'John' )

John is number 5 on the list

In [214]:
#Suppose we want to write a function so simple that it's not worth giving it a name
s = lambda x : x.split(' ')[0] #lambda input : expression using input
s('Christopher Mok')

'Christopher'

In [213]:
def build_quadratic_function(a, b, c) :
    """returns the function f(x) = ax2 + bx + c"""
    return lambda x : a*x**2 + b*x + c

f = build_quadratic_function(2, 3, 4)
f(2)

18

## Others

In [35]:
A = [1, 2, 3, "John", 5]

In [3]:
B = []
for i in A :
    B.append(i ** 2)
print(B)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [4]:
B = []
for i in A :
    try : 
        B.append(i ** 2)
    except Exception as e:
        pass
print(B)

[1, 4, 9, 25]

In [36]:
import pickle

with open('useful_list', 'wb') as f:
    pickle.dump(A, f)